<!-- Top navigation -->
<nav class="navbar bg-light">
  <div class="container">
    <span class="navbar-brand">Hotel booking App</span>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-clients" routerLinkActive="active">
          Clients List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register-client" routerLinkActive="active">
          Add client
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- Sidebar navigation -->
<!-- Sidebar navigation -->
<div class="container-fluid mt-5">
    <div class="row">
      
          <router-outlet></router-outlet>

    </div>
  </div>
